# App
APP_NAME=english-center-api
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
API_V1_PREFIX=/api/v1

# Database
POSTGRES_DB=english_center_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/english_center_db

# JWT
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SECURE=false

MINIO_BUCKET_AVATARS=avatars
MINIO_BUCKET_MATERIALS=materials
MINIO_BUCKET_SUBMISSIONS=submissions
MINIO_BUCKET_VIDEOS=videos
MINIO_BUCKET_EXPORTS=exports

MINIO_PRESIGNED_EXPIRE_SECONDS=3600

# SePay
SEPAY_ENV=sandbox
SEPAY_BASE_URL=https://pgapi-sandbox.sepay.vn
SEPAY_CHECKOUT_URL=https://pay-sandbox.sepay.vn/v1/checkout/init
SEPAY_MERCHANT_ID=your_sandbox_merchant_id
SEPAY_SECRET_KEY=your_sandbox_secret_key
SEPAY_IPN_SECRET_KEY=your_ipn_secret_key

SEPAY_SUCCESS_URL=http://localhost:5173/payment/success
SEPAY_ERROR_URL=http://localhost:5173/payment/error
SEPAY_CANCEL_URL=http://localhost:5173/payment/cancel
SEPAY_CURRENCY=VND

APP_PUBLIC_API_URL=http://localhost:8000/api/v1
FRONTEND_URL=http://localhost:5173
