# App
APP_NAME=english-center-api
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
API_V1_PREFIX=/api/v1

# Database
POSTGRES_DB=english_center_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/english_center_db

# JWT
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SECURE=false

MINIO_BUCKET_AVATARS=avatars
MINIO_BUCKET_MATERIALS=materials
MINIO_BUCKET_SUBMISSIONS=submissions
MINIO_BUCKET_VIDEOS=videos
MINIO_BUCKET_EXPORTS=exports

MINIO_PRESIGNED_EXPIRE_SECONDS=3600
